Repository xGANDAx/Demo_FastApi: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: Run pylint
        entry: pylint
        language: system
        types: [python]
      - id: black
        name: Format code with Black
        entry: black
        language: system
        types: [python]
        files: ^src/

mend
  .pre-commit-config.yaml
Due: none

mend
  .pre-commit-config.yaml
  src/web/web.py
Due: pylint, black

Add health method
  src/main.py
Due: pylint, black

Add health method test
  .pre-commit-config.yaml
  tests/__pycache__/__init__.cpython-312.pyc
  tests/__pycache__/test_main.cpython-312-pytest-8.3.3.pyc
  tests/test_main.py
Due: pylint

Add health method test
  .pre-commit-config.yaml
Due: none

Add health method test
  .gitignore
  .pre-commit-config.yaml
  tests/__pycache__/test_main.cpython-312-pytest-8.3.3.pyc
  tests/test_main.py
Due: pylint

Add Create Task Route
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  pyproject.toml
  src/data/data.py
  src/data/init.py
  src/data/tasks.py
  src/main.py
  src/model/model.py
  src/model/tasks.py
  src/service/service.py
  src/web/tasks.py
  src/web/web.py
Due: pylint, black

Add Create Task Route
  .pre-commit-config.yaml
  src/main.py
  tests/test_main.py
Due: pylint, black

Add Pre Push
  .pre-commit-config.yaml
Due: none

Add test for creating a task
  .env
  .pre-commit-config.yaml
  .vscode/settings.json
  src/web/tasks.py
  tests/init.py
  tests/test_main.py
  tests/test_tasks.py
Due: pylint, black

Add environment to workflow
  .github/workflows/testing.yaml
Due: none

Fix database error
  .env
  .github/workflows/testing.yaml
  src/data/init.py
Due: pylint, black

Add a method to view all tasks
  src/data/tasks.py
  src/service/service.py
  src/web/tasks.py
  tests/test_main.py
  tests/test_tasks.py
Due: pylint, black

Add a method to update a task
  .github/workflows/testing.yaml
  .vscode/settings.json
  src/data/tasks.py
  src/service/service.py
  src/web/tasks.py
  tests/test_main.py
  tests/test_tasks.py
Due: pylint, black

Create catalog-info.yaml
  catalog-info.yaml
Due: none

Update workflow poetry version
  .github/workflows/testing.yaml
Due: none

Update catalog-info.yaml
  catalog-info.yaml
Due: none
